* {
  margin: 0;
  box-sizing: border-box;
}

/*Nav*/
nav {
  background: #271b1b;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/*Nav text*/
nav a {
  color: white;
  margin: 0 15px;
  padding-top: 15px;
  text-decoration: none;
}

/*Header*/
header {
  background-color: #2a9d8f;
  text-align: center;
  color: white;
}

footer {
  margin-top: 15px;
}

/*Header logo*/
header::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url(images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 10px;
}

/*Main*/
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}

h2,
h3,
h4 {
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

h2 {
  font-size: 28px;
  text-align: center;
  padding: 18px;
  background-color: #2a9d8f;
  color: white;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 15px;
  padding: 30px;
}

h4 {
  margin: 10px;
  font-weight: bold;
}

p {
  font-size: 19px;
  padding: 18px;
  text-align: left;
  min-width: 200px;
  margin-left: 15px;
}

/* Footer */
footer {
  background-color: #2a9d8f;
  text-align: center;
  color: white;
}
.logo {
  padding: 5px;
}

/* Flex */
#article .flex {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  height: auto;
}

#article .text {
  text-align: center;
  margin-top: 20px;
}

.text {
  padding-top: 16px;
  flex-wrap: wrap;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-col {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ac-c {
  align-content: center;
}

.g-16 {
  gap: 0px;
}

.f-1-1-300 {
  flex: 1 1 300px;
  margin-left: 15px;
  margin-bottom: 32px;
}

/* Tableau Hangeul */
table {
  border-collapse: collapse;
  margin: auto;
  background-color: rgb(108, 108, 238);
  text-align: center;
}
td {
  border: 1px solid #333;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  transition: background 0.2s;
}
td:hover {
  background: #f0f0f0;
}

/* Responsive Mobile */
/* Media Query */
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  img {
    max-width: 90%;
    justify-content: center;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  .fd-row {
    flex-direction: column;
  }

  .f-1-1-300 img {
    width: 100%;
    height: auto;
  }

  /* Nav */
  nav {
    padding: 15px 0;
  }

  /* Nav text */
  nav a {
    display: block;
    margin: 10px 0;
    padding-top: 10px;
  }
}

/* Formulaire Contact */
#contactForm {
  max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
}

#contactForm label {
  display: block;
  margin-bottom: 10px;
  margin-top:15px;
  font-weight: bold;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form {
  display: flex;
  gap: 10px;
}

#contactForm .btn {
  width: 100%;
  padding: 10px;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contactForm .btn:hover {
  background: #005fcc;
}
