* {
  margin: 0;
  box-sizing: border-box;
}



/*Nav*/
nav {
  background: #271b1b;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/*Nav text*/
nav a {
  color: white;
  margin: 0 10px;
}

/*Header*/
header {
  background-color: #2a9d8f;
  text-align: center;
  color: white;
}

footer {
  margin-top:15px;
}

/*Header logo*/
header::before {
  content:"";
  display:block;
  width:200px;
  height:200px;
  background-image:url(images/logo.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  margin:0 auto 10px;
}


/*Main*/
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom:20px;
}

h2, h3, h4 {
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

h2 {
  font-size: 28px;
  text-align:center;
  padding:18px;
  background-color: #2a9d8f;
  color:white;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 15px;
  padding: 30px;
}

h4 {
  margin: 10px;
  font-weight: bold;
}



p {
  font-size: 19px;
  padding: 18px;
  text-align: left;
  min-width: 200px;
  margin-left:15px;

}

/* Footer */
footer {
  background-color: #2a9d8f;
  text-align: center;
  color: white;

  }.logo {
  padding: 5px;
}




/* Flex */


#article .flex {
  margin-right: 20px; 
  margin-left:20px; 
  text-align: center;  
  height: auto;  
}

#article .text {

  text-align:center;
  margin-top: 20px; 
  
     
}

.text {

  padding-top:16px;
  flex-wrap: wrap;
flex-direction: column;}

/* Media Query */


.d-flex {
  display:flex;
}

.fd-row {
  flex-direction: row;
}

.fd-col {
  flex-direction: column;
}

.jc-c {
justify-content: center;
}

.ai-c {
  align-items: center;
}

.ac-c {
  align-content: center;
}

.g-16 {
  gap:0px;
}

.f-1-1-300 {
  flex:1 1 300px;
  margin-left:15px;
  margin-bottom: 32px;

}

@media (max-width: 768px) {
  .d-flex {
    flex-wrap: wrap;      /* 👉 passe en dessous seulement sur mobile */
  }

  .fd-row {
    flex-direction: column;  /* 👉 image au-dessus, texte en dessous */
  }

  .f-1-1-300 img {
    width: 100%;
    height: auto;
  }
}


/* Tableau Hangeul */

  table {
    border-collapse: collapse;
    margin: 20px;
  }
  td {
    border: 1px solid #333;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: background 0.2s;
  }
  td:hover {
    background: #f0f0f0;
  }